<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YoutubeApplication.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE352EC31E6EC391003BBC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE352ED71E6EC392003BBC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE352EE21E6EC392003BBC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
